<body>
  <a href="/">Accueil</a>
  <a href="/about/">À propos</a>
  <a href="/blog/">Blog</a>

  <h1>Mon site Astro</h1>
  <h1>Mon blog d'apprentissage d'Astro</h1>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
</body>