---
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Accueil</a>
    <a href="/about/">À propos</a>
    <a href="/blog/">Blog</a>

    <h1>Mon blog d'apprentissage d'Astro</h1>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
      {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </body>
</html>